.dashboardRoot {
  width: 1440px;
  height: 1591px;
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
}
.bg {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1c2442;
}
.flexColumn {
  height: 1591px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-size: cover;
  background-image: url("https://file.rendit.io/n/KBa6J8X5hCXg0g5fIUjJ.svg");
}
.blackFlexRow {
  width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin: 0px 0px 39px 0px;
  padding: 16px 0px;
  background-color: #151726;
  box-shadow: 0px 10px 36px 0px #141b36;
}
.screenshot {
  width: 48px;
  height: 58px;
}
.text1 {
  align-self: flex-end;
  margin: 0px 68px 7px 0px;
  color: #569bca;
  font-size: 20px;
  font-weight: 600;
  font-family: Inter;
  line-height: 30px;
  white-space: nowrap;
}
.text2 {
  margin: 0px 490px 0px 0px;
  color: #14f195;
  font-size: 20px;
  font-weight: 600;
  font-family: Inter;
  line-height: 30px;
  white-space: nowrap;
}
.text3 {
  margin: 0px 28px 0px 0px;
  color: #ffffff;
  font-size: 15px;
  font-family: Inter;
  line-height: 27px;
  white-space: nowrap;
}
.button3 {
  width: 76px;
  margin: 0px 28px 0px 0px;
  padding: 7px 15px;
  color: #569bca;
  font-size: 14px;
  font-weight: 500;
  font-family: Inter;
  line-height: 21px;
  white-space: nowrap;
  border-width: 1px;
  border-radius: 50px;
  border-style: solid;
  border-color: #569bca;
  box-sizing: content-box;
  background: none;
  box-shadow: 0px 4px 15px 0px rgba(43, 43, 43, 0.25);
  cursor: pointer;
}
.button1 {
  padding: 7px 15px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  font-family: Inter;
  line-height: 21px;
  white-space: nowrap;
  border-width: 0px;
  border-radius: 50px;
  box-sizing: content-box;
  background-color: transparent;
  background-image: linear-gradient(90deg, #9945ff 0%, #14f195 100%);
  box-shadow: 0px 4px 15px 0px rgba(43, 43, 43, 0.25);
  cursor: pointer;
}
.button1:hover {
  opacity: 70%;
}
.element34 {
  width: 1440px;
  height: 290px;
  position: relative;
  margin: 0px 0px 41px 0px;
}
.text4 {
  left: 738px;
  top: 254px;
  position: absolute;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  font-family: Inter;
  line-height: 36px;
  white-space: nowrap;
}
.midnightBlueFlexRow {
  left: 167px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 21px 0px 23px 0px;
  border-width: 1px;
  border-radius: 15px;
  border-style: solid;
  border-color: #569bca;
  background-color: #1c2442;
}
.blackFlexRow1 {
  width: 1059px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 19px 0px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(90deg, #9945ff 0%, #14f195 100%);
}
.flexColumn1 {
  height: 157px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 21px 0px 19px 0px;
}
.flexColumn2 {
  gap: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px 0px 25px 0px;
}
.line {
  width: 280px;
  height: 1px;
  align-self: center;
  margin: 0px 0px 27px 0px;
}
.element35 {
  width: 487px;
  height: 197px;
  position: relative;
  margin: 0px 49px 0px 0px;
}
.flexColumn4 {
  left: 318px;
  top: 19px;
  position: absolute;
  gap: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.flexColumn5 {
  left: 318px;
  top: 124px;
  position: absolute;
  gap: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.line1 {
  width: 280px;
  height: 1px;
  left: 195px;
  top: 98px;
  position: absolute;
}
.element36 {
  width: 196px;
  height: 196px;
  position: absolute;
}
.image1 {
  width: 136px;
  height: 136px;
  left: 30px;
  top: 30px;
  position: absolute;
}
.flexColumn6 {
  height: 196px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 11px;
  background-size: cover;
  background-image: url("https://file.rendit.io/n/JISRxPWROqyampcGke8S.svg");
}
.flexRow {
  width: 174px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20.76px 0px 21px 0px;
  background-size: cover;
  background-image: url("https://file.rendit.io/n/xenzO7t2xc1m3rELR6KI.svg");
}
.ellipse {
  height: 132px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 38px;
  background-size: cover;
  background-image: url("https://file.rendit.io/n/mwP25vXIurrPAEFTjiUp.svg");
}
.flexColumn7 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.text13 {
  color: #9945ff;
  font-size: 15px;
  font-family: Inter;
  line-height: 27px;
  white-space: nowrap;
}
.text14 {
  color: #14f195;
  font-size: 18px;
  font-weight: 600;
  font-family: Inter;
  line-height: 27px;
  white-space: nowrap;
}
.line2 {
  width: 1px;
  height: 196px;
  align-self: flex-end;
  margin: 0px 65px 0px 0px;
}
.flexColumn8 {
  gap: 49px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 19px 0px 17px 0px;
}
.flexColumn9 {
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: flex-start;
}
.flexColumn10 {
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.borrowLimit1 {
  color: #ffffff;
  font-size: 16px;
  font-family: Inter;
  line-height: 24px;
  white-space: pre-wrap;
}
.borrowLimit {
  display: contents;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  font-family: Inter;
  line-height: 24px;
}
.text18 {
  align-self: flex-start;
  margin: 0px 0px 19px 167px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  font-family: Inter;
  line-height: 36px;
  white-space: nowrap;
}
.flexRow1 {
  gap: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 56px 0px;
}
.midnightBlueFlexColumn {
  gap: 13px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 60px 19px 21px;
  border-width: 1px;
  border-radius: 10px;
  border-style: solid;
  border-color: #569bca;
  background-color: #1c2442;
}
.flexRow2 {
  gap: 39px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexColumn14 {
  gap: 29px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  align-items: center;
}
.midnightBlueFlexColumn1 {
  gap: 13px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 69px 19px 21px;
  border-width: 1px;
  border-radius: 10px;
  border-style: solid;
  border-color: #569bca;
  background-color: #1c2442;
}
.flexRow4 {
  gap: 79px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.midnightBlueFlexColumn2 {
  gap: 13px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 99px 19px 21px;
  border-width: 1px;
  border-radius: 10px;
  border-style: solid;
  border-color: #569bca;
  background-color: #1c2442;
}
.flexRow6 {
  gap: 74px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexRow8 {
  gap: 393.82px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 167px;
}
.flexRow9 {
  gap: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.midnightBlueFlexColumn3 {
  height: 595px;
  position: absolute;
  gap: 42px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 19px 43px 19px 14px;
  border-width: 1px;
  border-radius: 0px 10px 10px 10px;
  border-style: solid;
  border-color: #569bca;
  background-color: #1c2442;
}
.flexRow14 {
  width: 479px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexRow15 {
  width: 48.53px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: flex-start;
  align-items: center;
  margin: 6px 0px 0px 0px;
  padding: 1.15px 2.23px;
  border-width: 2.5px;
  border-radius: 100px;
  border-style: solid;
  border-color: #569bca;
}
.ellipse1 {
  width: 20.12px;
  height: 20.7px;
}
.blackFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.flexRow19 {
  width: 47.61px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1px 2.69px;
  border-width: 2.5px;
  border-radius: 100px;
  border-style: solid;
  border-color: #e0fff2;
}
.flexRow24 {
  width: 508px;
  top: 1px;
  position: absolute;
  gap: 185px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 14px 14px 13px 14px;
  border-width: 1px;
  border-radius: 0px 10px 0px 0px;
  border-style: solid;
  border-color: #569bca;
  background-image: linear-gradient(90deg, #9945ff 0%, #14f195 100%);
}
.flexRow25 {
  width: 266px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.midnightBlueFlexColumn4 {
  height: 595px;
  position: absolute;
  gap: 42px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 19px 45px 19px 14px;
  border-width: 1px;
  border-radius: 0px 10px 10px 10px;
  border-style: solid;
  border-color: #569bca;
  background-color: #1c2442;
}
.flexRow28 {
  width: 477px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexRow33 {
  top: 1px;
  position: absolute;
  gap: 176px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 14px 34px 13px 23px;
  border-width: 1px;
  border-radius: 0px 10px 0px 0px;
  border-style: solid;
  border-color: #569bca;
  background-image: linear-gradient(90deg, #9945ff 0%, #14f195 100%);
}
.flexRow34 {
  width: 258px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.compoundcomplogo {
  width: 0;
  height: 0;
  left: -590px;
  top: 479px;
  position: absolute;
}
